---
layout: basic
title: Projects
---
<!--<section class="list">-->
<!--    {% for post in site.posts %}-->
<!--        {% if post.projects %}-->
<!--            <div class="item {% if post.star %}star{% endif %}">-->
<!--                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">-->
<!--                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>-->
<!--                    <h3 class="title">{{ post.title }}</h3>-->
<!--                </a>-->
<!--            </div>-->
<!--        {% endif %}-->
<!--    {% endfor %}-->
<!--</section>-->
{% include header.html %}

<div id="tooltip-container"></div>

<h2> Some of my work from the past year:  </h2>

<p> I calculated and <a class="video-link" data-image="clothingtrends.mp4" target="_blank" href="https://washuvis.github.io/clothing/">
    visualized popular clothing trends</a> according to categorized Instagram posts from a <a href="https://streetstyle.cs.cornell.edu/">Cornell dataset</a> using
    d3.js and Python to process the clothing attributes. I worked alongside a very capable Vihar Desu. </p>

<p> I visualized <a class="video-link" data-image="cloudcomputing.mp4" target="_blank" href="https://www.dropbox.com/s/18hhb0rnumam6q6/CSE_427S_Final_Report%20%282%29.pdf?dl=0">
    geoclustered opioid drug transactions </a> in my home state of NJ with a very smart team of three (Ben Choi, Jessie Korovin).
    Our work was recognized as the top-ranked project in our "Cloud Computing with Big Data Applications" class.
    We used Spark (running on Amazon EMR), Python, and matplotlib to perform a k-means clustering on the
    <a href="https://www.washingtonpost.com/graphics/2019/investigations/dea-pain-pill-database/">data.</a> </p>

<p> Over the summer, I worked with some awesome people at <a href="https://eluv.io">Eluvio</a> to
    demonstrate the <a class="video-link" data-image="eluvio.mp4" target="_blank" href="https://www.eluv.io/stream-sample/index.html/">superior performance of their
        video streaming platform</a> using React.</p>

<p> This year, I also participated in the CalHacks hackathon with Frank Wang on a rideOs challenge. We visualized ride-sharing
pickup and dropoff data in Chicago to get an <a class="video-link" data-image="ridesharing.jpg" target="_blank" href="https://washuvis.github.io/clothing/">understanding </a>
    of how to optimize ride-sharing fleet software.</p>


<h2> In the past, I've also: </h2>

<p> Created a real-estate tech startup MVP that scanned in client contracts, then populated a personalized calender with relevant events
and sent out scheduled emails to the necessary contractors. We built it using Django, a free OCR API, Amazon s3 and Bootstrap.</p>

<p> Won several hackathon competitions in various categories, including 1st Place Eluvio Content Fabric Challenge
    @ CalHacks 2018, 1st Place Microsoft Azure @ Building Blocks 2018, 1st Place PubNub Civic Chatbot @ NYC Developer Week 2017.
    You can check out my <a href="https://devpost.com/NicholasMurray">Devpost profile.</a> </p>


